
        body {
            background: #f2f2f2;
            font-family: "Times New Roman", serif;
        }

        .document {
            background: #fff;
            max-width: 900px;
            margin: 40px auto;
            padding: 60px;
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        }

        .document h1 {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
        }

        .document h2 {
            font-size: 24px;
            text-align: center;
            font-weight: 700;
        }

        .document h3 {
            font-size: 22px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 22px;
            font-weight: 700;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        p {
            text-align: justify;
            font-size: 19px;
            line-height: 1.9;
        }


        /* ordering alignment fixing  */
        ol.roman {
    padding-left: 40px;
}

ol.roman li {
    padding-left: 10px;
    margin-bottom: 12px;
}

ol.roman li::marker {
    font-weight: bold;
}